In [1]:
import pandas as pd
import json

In [215]:
data1 = json.load(open('E:/Research Project/Json data/json/100407.json'))
df1 = pd.DataFrame(data1["Reviews"])

data2 = json.load(open('E:/Research Project/Json data/json/100504.json'))
df2 = pd.DataFrame(data3["Reviews"])

list = pd.read_csv("E:/Research Project/list.csv")
list.head()

    Name
0  72572
1  72579
2  72586
3  73718
4  73727

In [238]:
df2.columns

Index(['Author', 'AuthorLocation', 'Content', 'Date', 'Ratings', 'ReviewID',
       'Title'],
      dtype='object')

In [239]:
df11 = df1[['Ratings', "Author"]]
df11['hotelID'] = "100407"
df22 = df2[['Ratings', "Author"]]
df22['hotelID'] = "100504"
result = pd.DataFrame()
result = pd.concat([df11, df22])

E:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [241]:
result.head()

                                             Ratings        Author hotelID
0  {'Service': '5', 'Cleanliness': '5', 'Overall'...      Nadine R  100407
1  {'Service': '4', 'Cleanliness': '4', 'Overall'...       blt3116  100407
2  {'Service': '5', 'Cleanliness': '5', 'Overall'...       ExSpec5  100407
3  {'Service': '5', 'Cleanliness': '5', 'Overall'...   kevinlynch3  100407
4  {'Service': '5', 'Cleanliness': '5', 'Overall'...  nobumponalog  100407

In [242]:
#import glob
#path = os.path.expanduser("E:\Research Project\Json datajson*.json")

i=0
for fname in list.Name:
    #head, tail = os.path.split(fname)
    #print(fname)
    jData = json.load(open('E:/Research Project/Json data/json/'+str(fname)+'.json'))
    df = pd.DataFrame(jData["Reviews"])
    if 'Ratings' in df and "Author" in df:
        dff = df[['Ratings', "Author"]]
        dff['hotelID'] = str(fname)
        result = pd.concat([result,dff])
        print(i, str(fname))
        i=i+1

E:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

0 72572
1 72579
2 72586
3 73718
4 73727
5 73739
6 73757
7 73787
8 73799
9 73821
10 73855
11 73923
12 73943
13 73947
14 73950
15 73957
16 73985
17 74051
18 74583
19 74626
20 75662
21 76061
22 76083
23 76442
24 77055
25 77264
26 77270
27 77274
28 77629
29 77638
30 77700
31 77714
32 77775
33 77804
34 77827
35 77866
36 77917
37 77944
38 78046
39 78682
40 78688
41 78694
42 79500
43 80083
44 80087
45 80275
46 80747
47 80756
48 80771
49 80774
50 80780
51 80784
52 80786
53 80788
54 80793
55 80797
56 80799
57 80802
58 80808
59 80836
60 80864
61 80879
62 80912
63 80917
64 80920
65 80925
66 80930
67 80937
68 80983
69 80987
70 80990
71 80999
72 81004
73 81019
74 81022
75 81035
76 81038
77 81042
78 81049
79 81082
80 81087
81 81103
82 81110
83 81114
84 81126
85 81141
86 81165
87 81169
88 81170
89 81177
90 81192
91 81204
92 81209
93 81215
94 81237
95 81241
96 81246
97 81249
98 81251
99 81315
100 81363
101 81367
102 81375
103 81377
104 81394
105 81397
106 81409
107 81416
108 81418
109 81444
110 81450
111 81459
112 81461
113 81466
114 81480
115 81483
116 81503
117 81511
118 81514
119 81520
120 81522
121 81529
122 81531
123 81553
124 81669
125 81765
126 81768
127 81782
128 81803
129 81809
130 81976
131 81985
132 82105
133 82114
134 82116
135 82578
136 84064
137 84440
138 84455
139 84502
140 84522
141 84561
142 84993
143 85003
144 85005
145 85007
146 85027
147 85029
148 85031
149 85046
150 85147
151 85161
152 85189
153 85192
154 85193
155 85204
156 85205
157 86951
158 86957
159 86959
160 86966
161 86969
162 86970
163 86973
164 86978
165 86983
166 86984
167 87008
168 87011
169 87015
170 87016
171 87017
172 87018
173 87024
174 87031
175 87040
176 87044
177 87052
178 87072
179 87076
180 87084
181 87090
182 87091
183 87095
184 87097
185 87099
186 87102
187 87104
188 87108
189 87111
190 87115
191 87119
192 87147
193 87149
194 89033
195 89049
196 89050
197 89053
198 89054
199 89064
200 89083
201 89091
202 89096
203 89101
204 89115
205 89118
206 89119
207 89130
208 89143
209 89147
210 89148
211 89150
212 89152
213 89155
214 89157
215 89158
216 89568
217 89575
218 89585
219 89592
220 89600
221 89602
222 89619
223 89620
224 90015
225 90017
226 90108
227 90159
228 93025
229 93034
230 93047
231 93051
232 93116
233 93146
234 93147
235 93164
236 93230
237 93242
238 93247
239 93335
240 93338
241 93340
242 93435
243 93457
244 93459
245 93460
246 93467
247 93477
248 93507
249 93534
250 93569
251 93589
252 93593
253 94326
254 94330
255 94344
256 94349
257 94350
258 94399
259 98606
260 98629
261 98639
262 98640
263 98641
264 98644
265 98675
266 98679
267 98694
268 98702
269 98710
270 98717
271 98719
272 98726
273 98727
274 98728
275 98731
276 99368
277 99371
278 99392
279 99466
280 99762
281 100504
282 100505
283 100506
284 100507
285 100509
286 100527
287 100537
288 100540
289 100542
290 100544
291 100547
292 100554
293 100560
294 100561
295 100562
296 100564
297 100565
298 100567
299 100569
300 100570
301 100574
302 100577
303 100581
304 100584
305 100585
306 100586
307 100587
308 100589
309 100597
310 100602
311 100603
312 100605
313 100610
314 100617
315 100619
316 109367
317 109379
318 109412
319 109413
320 109426
321 109452
322 109454
323 109571
324 111418
325 111422
326 111423
327 111444
328 111530
329 111751
330 111892
331 111969
332 111974
333 111978
334 111983
335 111993
336 112000
337 112007
338 112154
339 112162
340 112179
341 112293
342 112303
343 112304
344 112307
345 112325
346 112328
347 112335
348 112347
349 112360
350 112373
351 112412
352 113300
353 113317
354 113923
355 113924
356 113927
357 113928
358 113940
359 114008
360 114024
361 114026
362 114027
363 114031
364 114032
365 114134
366 114149
367 114150
368 114942
369 115244
370 115248
371 115251
372 115265
373 115482
374 115484
375 115623
376 115625
377 115644
378 115754
379 115755
380 116270
381 119355
382 119382
383 119593
384 119601
385 119623
386 119625
387 119637
388 119643
389 119650
390 119657
391 119658
392 119661
393 119665
394 120330
395 120376
396 120380
397 120432
398 120684
399 120756
400 120822
401 120831
402 120848
403 120852
404 120861
405 120977
406 120988
407 122020
408 122703
409 122715
410 122998
411 123003
412 123004
413 123016
414 123021
415 123022
416 123036
417 123039
418 123519
419 123524
420 124044
421 124048
422 124176
423 124264
424 124270
425 124765
426 125161
427 126260
428 126402
429 141997
430 142261
431 145477
432 146826
433 147790
434 148042
435 148043
436 148045
437 148560
438 148598
439 148789
440 148807
441 149213
442 149214
443 149395
444 149397
445 149399
446 149864
447 149920
448 149921
449 150241
450 150443
451 150444
452 150446
453 150496
454 150841
455 150842
456 150849
457 150854
458 150855
459 151022
460 151671
461 151679
462 151713
463 151806
464 151815
465 151823
466 151827
467 151832
468 151941
469 151961
470 152463
471 152467
472 152468
473 152469
474 152473
475 152474
476 153716
477 153936
478 153938
479 154638
480 154659
481 154668
482 155796
483 155800
484 156086
485 156507
486 156511
487 169786
488 169795
489 183057
490 183092
491 185401
492 185406
493 187737
494 188729
495 188732
496 188743
497 188746
498 188937
499 188961
500 188975
501 189227
502 189387
503 189389
504 189397
505 189699
506 189799
507 190149
508 190158
509 190556
510 190569
511 190599
512 190614
513 190615
514 190616
515 190617
516 190635
517 190664
518 190667
519 190694
520 190823
521 191046
522 191158
523 191159
524 191164
525 191437
526 191438
527 192044
528 192064
529 192090
530 193121
531 194233
532 194278
533 194308
534 194317
535 195006
536 195007
537 195128
538 195402
539 195406
540 195432
541 195703
542 195705
543 195793
544 195855
545 195943
546 196103
547 197428
548 197447
549 197458
550 197468
551 197530
552 197534
553 197636
554 197666
555 197790
556 197792
557 197794
558 198051
559 198085
560 198099
561 198109
562 198674
563 198701
564 199309
565 199310
566 199311
567 199313
568 199319
569 199321
570 199348
571 199349
572 199355
573 199360
574 199363
575 199365
576 199376
577 199395
578 199397
579 199404
580 199420
581 199430
582 200257
583 200263
584 200345
585 200437
586 200444
587 200948
588 202272
589 202274
590 202278
591 202279
592 202450
593 202459
594 202460
595 202654
596 202962
597 202968
598 202971
599 202972
600 202973
601 202976
602 202977
603 202982
604 202984
605 202988
606 202990
607 202991
608 202993
609 202994
610 203000
611 203005
612 203869
613 203902
614 203905
615 203921
616 203929
617 203948
618 203957
619 203970
620 205771
621 205774
622 206846
623 206921
624 206928
625 206933
626 206936
627 206937
628 206988
629 206992
630 207838
631 208082
632 208096
633 208209
634 208210
635 208453
636 208454
637 208587
638 208591
639 208594
640 208596
641 209356
642 209382
643 209422
644 209424
645 209583
646 209618
647 209621
648 214170
649 214675
650 214680
651 214683
652 214688
653 217000
654 217148
655 217193
656 217378
657 217386
658 217397
659 217486
660 217522
661 217546
662 217616
663 217626
664 217630
665 217704
666 217715
667 217721
668 217795
669 217798
670 217803
671 217807
672 217813
673 217844
674 217904
675 218100
676 218479
677 218480
678 218482
679 218483
680 218486
681 218492
682 218523
683 218524
684 218544
685 218776
686 219144
687 219292
688 219988
689 222912
690 222957
691 222958
692 222959
693 222984
694 222985
695 223040
696 223041
697 223046
698 223053
699 223116
700 223120
701 223121
702 223122
703 223128
704 223129
705 223130
706 223133
707 223217
708 223218
709 223219
710 223408
711 223860
712 223938
713 223955
714 223971
715 224130
716 224168
717 224194
718 224196
719 224214
720 224221
721 224224
722 224241
723 224248
724 224250
725 224616
726 224783
727 224835
728 224843
729 224856
730 224866
731 224875
732 224877
733 224948
734 224951
735 224953
736 224955
737 224956
738 224957
739 225459
740 225873
741 226187
742 226834
743 227459
744 227463
745 227464
746 227465
747 227765
748 228329
749 228375
750 228377
751 228395
752 228419
753 228464
754 228465
755 228466
756 228467
757 228479
758 228483
759 228500
760 228507
761 228512
762 228527
763 228531
764 228544
765 228556
766 228563
767 228573
768 228592
769 228600
770 228607
771 228610
772 228617
773 228621
774 228626
775 228634
776 228636
777 228642
778 228648
779 228653
780 228663
781 228696
782 228728

783 228739
784 228759
785 228809
786 229002
787 229017
788 229021
789 229032
790 229063
791 229073
792 229123
793 229124
794 229137
795 229144
796 229149
797 229151
798 229156
799 229160
800 229164
801 229171
802 229182
803 229203
804 229211
805 229228
806 229237
807 229477
808 229478
809 229480
810 229495
811 229497
812 229602
813 229621
814 229676
815 229677
816 229678
817 229679
818 229681
819 229872
820 229875
821 230103
822 230104
823 230112
824 230114
825 230117
826 230118
827 230119
828 230120
829 230121
830 230122
831 230123
832 230124
833 230125
834 230347
835 230367
836 230372
837 230460
838 230491
839 230550
840 230572
841 230574
842 230616
843 230643
844 230717
845 230719
846 230723
847 230777
848 230832
849 230871
850 230872
851 230875
852 230876
853 230877
854 230905
855 230908
856 231258
857 231320
858 231323
859 231324
860 231502
861 231504
862 231505
863 231514
864 231519
865 231520
866 231524
867 231525
868 231526
869 231637
870 232321
871 232325
872 232327
873 232328
874 232400
875 232457
876 232458
877 232459
878 232492
879 232493
880 232500
881 232501
882 232502
883 232504
884 232601
885 232775
886 232777
887 232778
888 232781
889 232782
890 232786
891 232788
892 232819
893 232961
894 232962
895 232964
896 232973
897 232975
898 232976
899 232977
900 232980
901 233394
902 233465
903 233490
904 233491
905 233494
906 233571
907 233585
908 233611
909 233725
910 233743
911 233745
912 233863
913 233865
914 233866
915 233880
916 234000
917 234292
918 234397
919 234569
920 234572
921 234573
922 234574
923 234578
924 234579
925 234633
926 234752
927 234771
928 234849
929 234878
930 234880
931 234910
932 235216
933 235513
934 235567
935 235644
936 235978
937 235981
938 235985
939 235986
940 235990
941 235993
942 235997
943 235998
944 236003
945 236037
946 236040
947 236048
948 236057
949 236065
950 236068
951 236071
952 236078
953 236194
954 236198
955 236350
956 236459
957 236511
958 237153
959 237158
960 237506
961 237511
962 237515
963 237516
964 237521
965 237566
966 237567
967 237568
968 237571
969 237572
970 237573
971 237575
972 237580
973 237581
974 237582
975 237585
976 237586
977 238047
978 238488
979 238525
980 238565
981 238569
982 238575
983 238578
984 238594
985 238722
986 239018
987 239019
988 239021
989 239146
990 239158
991 239253
992 239406
993 239458
994 239541
995 239542
996 239591
997 239680
998 239800
999 239892
1000 239895
1001 239900
1002 240164
1003 240682
1004 240860
1005 240875
1006 240893
1007 241044
1008 241678
1009 241746
1010 242220
1011 242222
1012 242226
1013 242435
1014 242962
1015 242975
1016 242986
1017 242987
1018 243535
1019 247957
1020 248854
1021 248857
1022 248931
1023 248939
1024 249326
1025 249328
1026 249485
1027 249487
1028 249488
1029 249682
1030 249693
1031 249712
1032 250390
1033 250454
1034 250458
1035 250461
1036 250849
1037 250851
1038 251264
1039 251793
1040 252106
1041 252350
1042 252442
1043 252969
1044 253139
1045 253188
1046 253364
1047 253693
1048 254575
1049 254605
1050 254869
1051 254870
1052 254876
1053 255391
1054 255394
1055 255396
1056 255423
1057 255425
1058 255650
1059 255651
1060 255673
1061 255674
1062 255863
1063 255865
1064 256318
1065 256527
1066 256531
1067 256540
1068 256541
1069 256544
1070 256563
1071 256565
1072 256567
1073 256582
1074 256583
1075 256595
1076 256596
1077 256598
1078 256603
1079 256605
1080 256607
1081 256610
1082 256618
1083 256622
1084 256624
1085 256627
1086 256629
1087 256632
1088 256637
1089 256639
1090 256647
1091 256649
1092 256650
1093 256652
1094 256653
1095 256655
1096 256659
1097 256661
1098 256663
1099 256666
1100 256734
1101 257281
1102 257287
1103 257290
1104 257310
1105 257312
1106 257316
1107 257469
1108 257797
1109 257798
1110 257877
1111 258375
1112 258458
1113 258459
1114 258626
1115 258639
1116 258705
1117 258755
1118 258824
1119 258868
1120 258882
1121 259206
1122 259219
1123 259330
1124 259337
1125 259360
1126 259397
1127 259593
1128 260049
1129 260058
1130 260365
1131 260621
1132 260822
1133 260823
1134 261070
1135 262330
1136 262382
1137 262569
1138 263605
1139 263673
1140 264232
1141 264386
1142 264605
1143 264705
1144 265071
1145 265072
1146 265073
1147 265343
1148 265476
1149 265628
1150 265745
1151 266131
1152 266322
1153 266529
1154 266625
1155 266802
1156 266810
1157 268206
1158 268207
1159 268228
1160 268240
1161 268249
1162 268257
1163 268429
1164 268430
1165 268507
1166 268533
1167 268641
1168 269171
1169 269682
1170 269966
1171 270870
1172 271801
1173 271939
1174 272542
1175 272668
1176 273175
1177 273177
1178 273185
1179 273503
1180 273504
1181 274118
1182 275097
1183 275098
1184 275180
1185 275251
1186 275261
1187 275401
1188 275403
1189 275405
1190 275406
1191 275581
1192 275799
1193 275837
1194 275840
1195 275841
1196 275844
1197 275848
1198 275856
1199 275858
1200 276043
1201 276421
1202 276938
1203 277273
1204 277657
1205 277882
1206 277997
1207 278074
1208 278586
1209 278862
1210 279283
1211 279426
1212 279688
1213 279742
1214 279809
1215 280630
1216 280861
1217 280902
1218 280922
1219 280923
1220 281071
1221 281116
1222 281614
1223 281658
1224 281828
1225 281838
1226 281960
1227 282185
1228 282300
1229 282590
1230 282607
1231 282622
1232 282879
1233 283029
1234 283377
1235 283391
1236 283627
1237 284087
1238 284232
1239 284258
1240 284333
1241 284441
1242 284442
1243 284987
1244 285156
1245 285755
1246 285955
1247 285961
1248 285964
1249 285998
1250 286161
1251 286358
1252 286542
1253 286582
1254 287670
1255 288592
1256 288850
1257 289007
1258 289010
1259 289019
1260 289202
1261 289342
1262 289421
1263 289578
1264 289670
1265 290014
1266 290385
1267 291267
1268 291444
1269 291544
1270 291590
1271 292142
1272 292158
1273 292828
1274 292867
1275 292892
1276 292923
1277 294612
1278 295624
1279 295625
1280 296175
1281 296344
1282 296606
1283 296607
1284 296915
1285 296916
1286 297791
1287 299128
1288 299199
1289 299526
1290 299534
1291 299568
1292 299592
1293 299606
1294 299764
1295 300050
1296 300319
1297 300459
1298 300840
1299 300844
1300 300855
1301 301250
1302 301279
1303 301378
1304 301381
1305 301382
1306 301413
1307 301431
1308 301468
1309 301478
1310 301573
1311 301577
1312 301581
1313 301583
1314 301619
1315 301647
1316 301648
1317 301649
1318 301657
1319 301674
1320 301677
1321 301680
1322 301787
1323 301789
1324 301803
1325 301883
1326 301897
1327 301911
1328 301923
1329 301929
1330 302040
1331 302109
1332 302130
1333 302133
1334 302175
1335 302231
1336 302249
1337 302294
1338 302322
1339 302331
1340 302343
1341 302385
1342 302387
1343 302392
1344 302434
1345 302435
1346 302511
1347 302638
1348 302653
1349 302985
1350 302990
1351 303032
1352 303033
1353 304284
1354 304289
1355 304305
1356 304310
1357 304485
1358 304528
1359 304546
1360 304611
1361 304646
1362 305068
1363 305273
1364 305360
1365 305364
1366 305371
1367 305379
1368 305486
1369 305520
1370 305582
1371 305584
1372 305809
1373 305810
1374 305812
1375 305813
1376 305854
1377 305861
1378 305862
1379 305877
1380 305893
1381 305905
1382 305906
1383 305907
1384 305909
1385 305928
1386 305931
1387 305934
1388 305944
1389 306120
1390 306143
1391 306150
1392 306166
1393 306173
1394 306174
1395 306175
1396 306176
1397 306179
1398 306180
1399 306186
1400 306375
1401 306377
1402 306482
1403 306610
1404 306831
1405 306836
1406 306838
1407 307326
1408 307328
1409 307332
1410 307355
1411 307368
1412 307375
1413 307381
1414 307541
1415 307557
1416 307562
1417 307563
1418 307566
1419 307569
1420 307570
1421 307571
1422 307574
1423 307575
1424 307577
1425 307581
1426 307592
1427 307610
1428 307616
1429 308393
1430 308405
1431 308406
1432 308407
1433 308408
1434 308412
1435 308432
1436 308456
1437 308723
1438 308771
1439 309124
1440 309153
1441 309180
1442 309351
1443 309355
1444 309580
1445 309916
1446 309917
1447 310251
1448 310302
1449 310303
1450 310451
1451 310780
1452 310867
1453 312451
1454 312457
1455 313039
1456 313044
1457 313573
1458 313883
1459 313884
1460 314854
1461 317155
1462 317396
1463 317477
1464 319066
1465 319712
1466 320013
1467 320038
1468 320079
1469 320080
1470 320488
1471 320581
1472 321151
1473 325334
1474 325383
1475 325634
1476 325790
1477 450266
1478 454952
1479 455460
1480 456558
1481 456987
1482 472078
1483 478252
1484 478253
1485 482632
1486 482693

1487 483102
1488 483134
1489 483282
1490 483700
1491 486788
1492 487644
1493 488853
1494 489057
1495 489096
1496 490876
1497 496106
1498 497689
1499 498018
1500 498185
1501 498233
1502 498328
1503 498395
1504 498911
1505 498929
1506 501108
1507 501335
1508 501344
1509 501434
1510 502108
1511 502408
1512 503002
1513 503136
1514 503506
1515 505238
1516 505846
1517 506158
1518 506292
1519 506418
1520 506652
1521 507339
1522 508162
1523 510378
1524 513122
1525 514340
1526 518280
1527 518349
1528 518441
1529 523998
1530 526766
1531 528508
1532 529517
1533 529682
1534 529918
1535 530096
1536 530147
1537 530406
1538 530530
1539 534638
1540 534764
1541 542696
1542 542974
1543 543153
1544 543169
1545 543207
1546 543518
1547 548045
1548 548458
1549 549445
1550 549454
1551 549547
1552 550019
1553 551322
1554 553884
1555 555224
1556 555283
1557 555420
1558 556595
1559 556833
1560 557165
1561 557193
1562 558003
1563 558796
1564 559387
1565 559392
1566 559593
1567 559726
1568 560516
1569 563485
1570 564652
1571 564868
1572 565550
1573 566077
1574 570888
1575 571526
1576 572190
1577 572859
1578 572865
1579 573158
1580 573658
1581 574406
1582 574449
1583 575483
1584 575999
1585 577645
1586 578225
1587 578305
1588 578306
1589 578319
1590 578371
1591 579136
1592 579210
1593 579774
1594 579806
1595 580687
1596 581477
1597 581505
1598 581873
1599 582083
1600 582208
1601 582371
1602 582392
1603 582479
1604 582505
1605 582667
1606 583028
1607 583034
1608 583280
1609 583286
1610 583662
1611 583733
1612 583963
1613 584407
1614 584452
1615 585139
1616 585204
1617 585414
1618 585836
1619 586662
1620 586770
1621 586835
1622 587052
1623 587150
1624 587612
1625 588475
1626 589462
1627 589493
1628 590144
1629 590208
1630 590284
1631 590411
1632 593661
1633 594629
1634 594928
1635 595373
1636 595594
1637 595677
1638 596310
1639 596364
1640 596508
1641 596760
1642 596991
1643 597573
1644 599275
1645 599363
1646 600113
1647 600224
1648 600604
1649 601231
1650 601262
1651 601289
1652 601350
1653 601439
1654 601486
1655 601550
1656 601686
1657 601762
1658 602155
1659 602600
1660 603094
1661 603110
1662 603376
1663 603403
1664 604488
1665 604492
1666 604501
1667 607160
1668 607162
1669 607470
1670 609500
1671 609760
1672 610494
1673 610805
1674 610848
1675 611114
1676 611193
1677 611703
1678 611782
1679 612263
1680 613399
1681 613711
1682 614078
1683 614236
1684 614244
1685 614361
1686 614392
1687 614395
1688 614746
1689 614962
1690 615153
1691 615969
1692 615974
1693 618139
1694 618542
1695 618996
1696 619681
1697 619946
1698 620038
1699 620136
1700 620703
1701 621308
1702 621785
1703 622666
1704 623246
1705 623893
1706 624043
1707 625715
1708 625726
1709 626262
1710 626311
1711 626377
1712 626456
1713 630305
1714 630409
1715 630596
1716 630817
1717 632118
1718 632421
1719 632657
1720 632770
1721 633539
1722 633625
1723 634260
1724 634263
1725 634363
1726 635006
1727 635080
1728 636331
1729 638765
1730 638834
1731 638900
1732 639686
1733 646310
1734 646326
1735 647354
1736 647813
1737 647855
1738 648108
1739 649076
1740 649099
1741 649857
1742 649871
1743 651045
1744 651595
1745 652518
1746 652607
1747 653138
1748 654030
1749 655846
1750 656349
1751 656772
1752 659532
1753 660350
1754 661034
1755 662124
1756 662193
1757 662530
1758 663083
1759 667612
1760 669122
1761 671552
1762 672600
1763 673049
1764 674915
1765 675157
1766 675165
1767 676408
1768 677036
1769 677173
1770 677260
1771 677598
1772 678328
1773 734757
1774 735480
1775 736553
1776 736575
1777 739096
1778 754229
1779 758191
1780 777807
1781 781663
1782 793789
1783 794396
1784 804847
1785 813649
1786 897108
1787 939153
1788 940460
1789 943738
1790 947611
1791 949988
1792 967157

In [261]:
result.count()

Ratings    350601
Author     350601
hotelID    350601
dtype: int64

In [262]:
len(result.Author.unique())
#result.loc[result['Author'] == "Bo94114"]
#len(result.hotelID.unique())

258520

In [259]:
res.head()

,Ratings,Author,hotelID
0,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",Nadine R,100407
1,"{'Service': '4', 'Cleanliness': '4', 'Overall'...",blt3116,100407
2,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",ExSpec5,100407
3,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",kevinlynch3,100407
4,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",nobumponalog,100407
5,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",pac0101,100407
6,"{'Cleanliness': '5', 'Sleep Quality': '5', 'Ov...",jcfbgk,100407
7,"{'Cleanliness': '4', 'Sleep Quality': '3', 'Ov...",Alps110,100407
8,"{'Cleanliness': '4', 'Sleep Quality': '4', 'Ov...",mspenn,100407
9,"{'Cleanliness': '5', 'Sleep Quality': '5', 'Ov...",txpeachy1977,100407
10,"{'Cleanliness': '5', 'Sleep Quality': '5', 'Ov...",MDcouple,100407
11,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",chilly_in_ohio,100407
12,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",ramble5,100407
13,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",SkiLoverofCT,100407
14,"{'Service': '4', 'Cleanliness': '4', 'Overall'...",WesGaines,100407
15,"{'Service': '4', 'Cleanliness': '4', 'Overall'...",Blue_Crab,100407
16,"{'Service': '2', 'Cleanliness': '2', 'Overall'...",acswift,100407
17,"{'Service': '3', 'Cleanliness': '5', 'Overall'...",oldbutcool,100407
18,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",MaryG_from_Toronto,100407
19,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",greendrive,100407
20,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",phyl59,100407
21,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",luvin2travel83,100407
22,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",PrincessBrooke,100407
23,{'Overall': '5.0'},ChristyWo0,100407
24,"{'Service': '5', 'Cleanliness': '5', 'Business...",Bluelion137,100407
25,"{'Service': '5', 'Cleanliness': '5', 'Business...",jodie1969,100407
26,"{'Service': '5', 'Cleanliness': '5', 'Business...",maebyfunke,100407
27,"{'Service': '5', 'Cleanliness': '5', 'Business...",travelbound46,100407
28,"{'Service': '5', 'Cleanliness': '5', 'Business...",SarahP1118,100407
29,"{'Cleanliness': '4', 'Business service (e.g., ...",Travel2Uk,100407
...,...,...,...
131,"{'Service': '4', 'Cleanliness': '4', 'Overall'...",TravelinShane,967157
132,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",tiger_lilly9,967157
133,"{'Service': '4', 'Cleanliness': '4', 'Overall'...",Kas_Sweden,967157
134,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",EggUK,967157
135,"{'Service': '5', 'Cleanliness': '5', 'Overall'...",alih68,967157
136,"{'Service': '5', 'Cleanliness': '4', 'Business...",IndianN01,967157
137,"{'Service': '3', 'Cleanliness': '4', 'Overall'...",landsahoy,967157
138,"{'Service': '5', 'Cleanliness': '5', 'Business...",justinboots,967157
139,"{'Service': '5', 'Cleanliness': '4', 'Business...",gmellon1,967157
140,"{'Service': '5', 'Cleanliness': '5', 'Business...",WSP_9,967157
141,"{'Service': '5', 'Cleanliness': '4', 'Business...",Misterycouple,967157
142,"{'Service': '4', 'Cleanliness': '5', 'Business...",luijo100,967157
143,"{'Service': '5', 'Cleanliness': '4', 'Business...",MulliReykjavik,967157
144,"{'Service': '4', 'Cleanliness': '5', 'Business...",Grushenka,967157
145,"{'Service': '2', 'Cleanliness': '1', 'Business...",Hollandtraveller,967157
146,"{'Service': '5', 'Cleanliness': '4', 'Business...",scoot6,967157
147,{'Overall': '2.0'},junzi,967157
148,"{'Service': '4', 'Cleanliness': '4', 'Business...",adsgflakkdnhngldakfj,967157
149,"{'Service': '5', 'Cleanliness': '5', 'Business...",organicphotographer,967157
151,"{'Service': '4', 'Cleanliness': '5', 'Business...",clootje,967157
152,"{'Service': '3', 'Cleanliness': '3', 'Business...",WNTRAVELS,967157
153,"{'Service': '5', 'Cleanliness': '5', 'Business...",paddymc67,967157
154,"{'Service': '4', 'Cleanliness': '5', 'Business...",dyllll,967157
155,"{'Service': '4', 'Cleanliness': '5', 'Business...",RomanticMykonos,967157
156,"{'Service': '3', 'Cleanliness': '4', 'Business...",americaninstockholm,967157
157,"{'Service': '4', 'Cleanliness': '5', 'Business...",salalpha,967157
158,"{'Service': '3', 'Cleanliness': '4', 'Business...",InkwotaBeru,967157
159,"{'Service': '3', 'Cleanliness': '2', 'Check in...",NZChef,967157
160,"{'Service': '3', 'Cleanliness': '2', 'Business...",LondonPerez,967157
161,"{'Service': '4', 'Cleanliness': '4', 'Business...",GlobalDavidG,967157

In [233]:
Rating = result['Ratings'].values.tolist()
IDs = result[['hotelID', "ReviewID"]]
rate = pd.DataFrame(Rating, 
               columns =['Service', 'Cleanliness','Overall','Value','Sleep Quality','Rooms','Location']) 
rate.head()

  Service Cleanliness Overall Value Sleep Quality Rooms Location
0       5           5     5.0     5             5     5        5
1       4           4     4.0     4             4     4        5
2       5           5     4.0     3             3     5        5
3       5           5     5.0     4             5     5        5
4       5           5     5.0     4             5     5        5

In [234]:
rate = pd.DataFrame(rate)
IDs  = pd.DataFrame(IDs)
final = IDs.join(rate)

In [235]:
final.count()

hotelID          350601
ReviewID         350601
Service          324436
Cleanliness      324913
Overall          350601
Value            325841
Sleep Quality    209973
Rooms            284793
Location         274242
dtype: int64

In [236]:
final.head()

,hotelID,ReviewID,Service,Cleanliness,Overall,Value,Sleep Quality,Rooms,Location
0,100407,UR128178025,5,5,5.0,5,5,5,5
0,100504,UR126997138,5,5,5.0,5,5,5,5
0,72572,UR126946257,5,5,5.0,5,5,5,5
0,72579,UR126815874,5,5,5.0,5,5,5,5
0,72586,UR126512536,5,5,5.0,5,5,5,5